<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Blog Deleted</title>
		<th:block th:replace="/fragments/bootstrap::head"></th:block>		
	</head>
	<body>
		<div th:replace="/fragments/navbar"></div>
		<div class="container">
			<h4>Blog Deleted</h4>
			<div class="row">
				<div class="col-xl">
					<h3>This post has been deleted</h3>
				</div>
			</div>
			<div class="row">			    
				<div class="col-md-12">
					<a th:href="@{/}">
						<button class="btn btn-success">Back To Home Page</button>
					</a>
					<a th:href="@{/blogposts/new}">
						<button class="btn btn-primary">Submit a New Blog Post</button>
					</a>					
				</div>	
			</div>			
		</div>
		<th:block th:replace="/fragments/bootstrap::end"></th:block>				
	</body>
</html>	