<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog Site</title>
<th:block th:replace="/fragments/bootstrap::head"></th:block>
</head>
<body>
	<div th:replace="/fragments/navbar"></div>
	<div class="container">
		<h1>Welcome to Our Blog Post Site!</h1>
		<h3>Check out our blogs!</h3>
		<div class="row">
			<div th:each="blog:${posts}">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${blog.title}"></h5>
							<div class="card-text">
								<p th:text="${blog.author}" />
								<p th:text="${blog.blogEntry}" />
							</div>
							<a th:href="@{/blogposts/{id} (id=${blog.id})}">
								<button class="btn btn-primary">Edit Post</button>
							</a> <a th:href="@{/blogposts/delete/{id} (id=${blog.id})}">
								<button class="btn btn-danger">Delete Post</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a th:href="@{/blogposts/new}">
			<button class="btn btn-primary">Submit a New Blog Post</button>
		</a>
	</div>

	<th:block th:replace="/fragments/bootstrap::end"></th:block>				
</body>
</html>